---
import Layout from "../layouts/Layout.astro";
import aboutImage from "../images/home/aboutImage.jpeg";
import videoMp4 from "../images/home/portada.mp4";
import videoWebm from "../images/home/portada.webm";
import vidaDigna from "../images/home/vidadigna.jpg";
import desliza from "../images/home/desliza.png";

import imageOne from "../images/home/galeria/aboutImage.jpeg";
import imageTwo from "../images/home/galeria/img-2.jpg";
import imageThree from "../images/home/galeria/img-3.jpg";
import imageFour from "../images/home/galeria/img-4.jpg";
import imageFive from "../images/home/galeria/img-5.jpg";
import imageSix from "../images/home/galeria/img-6.jpg";
import imageSeven from "../images/home/galeria/img-7.jpg";
import imageEight from "../images/home/galeria/img-8.jpg";
import imageNine from "../images/home/galeria/img-9.jpg";
import imageTen from "../images/home/galeria/img-10.jpg";
import imageEleven from "../images/home/galeria/img-11.jpg";
import imageTwelve from "../images/home/galeria/img-12.jpg";
import imageThirteen from "../images/home/galeria/img-13.jpg";
import imageFourteen from "../images/home/galeria/img-14.jpg";
import imageFifteen from "../images/home/galeria/img-15.jpg";


const allPosts = await Astro.glob("./posts/*.md");
const maxPosts = 3;
const limitedPosts = allPosts.slice(0, maxPosts);

---
<style>
    .yellow-bg {
        background-color: #ffc031;
        display: inline-block;
    }
    .noticia {
        transform: translateY(0);
        transition: 300ms ease-in-out;
    }
    .noticia:hover {
        transform: translateY(-20px);
        transition: 300ms ease-in-out;
    }
    .noticia:hover .nimage {
        border: 2px solid #ffc031;
    }
</style>

<Layout title="Welcome to Astro.">
    <main>
        <section class="one">
            <video loop muted autoplay width="100%" height="100%">
                <source src="https://pub-236b6a1111854253bfa86853c8c7d5ae.r2.dev/portada.mp4" type="video/mp4" />
            </video>
        </section>
        <section>
            <div class="max-w-screen-xl mx-auto px-1">
                <div class="my-10 text-center">
                    <h2 class="yellow-text font-semibold">
                        Omar Ortega Álvarez
                    </h2>
                    <h1 class="text-4xl font-semibold">
                        Abogado, político progresista, legislador, militante del
                        PRD.
                    </h1>
                </div>
                <div class="flex flex-col lg:flex lg:flex-row my-6">
                    <div class="basis-1/2">
                        <img src={aboutImage.src} alt="" />
                    </div>
                    <div class="basis-1/2 space-y-6 my-auto px-4">
                        <h3 class="text-4xl font-semibold mt-6 lg:mt-0">
                            Sobre mí
                        </h3>
                        <p>
                            Orgullosamente mexicano, nací en Ciudad Guzmán,
                            Jalisco, el 14 de septiembre de 1970. Soy Licenciado
                            en Derecho por la Universidad Panamericana y tengo
                            estudios de postgrado en Derecho Parlamentario por
                            la Universidad Autónoma del Estado de México. He
                            sido docente y, desde 1997, me he desempeñado en
                            distintos puestos de la Administración Pública del
                            Estado de México. Soy militante del PRD desde 1995.
                            Fui Diputado Federal en dos ocasiones (2003-2006,
                            2015-2018). Actualmente soy Diputado Local por el
                            Distrito 38 de Coacalco y Tultitlán (2021-2024).
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="lg:my-20">
            <div class="max-w-screen-xl mx-auto">
                <div>
                    <h3 class="text-center text-4xl font-semibold my-6">
                        Noticias
                    </h3>
                </div>
                <div class="flex flex-wrap justify-center">
                    {
                        limitedPosts.map((post) => (
                            <li class="lg:basis-1/3 list-none p-2 noticia">
                                <a href={post.url}>
                                    <img
                                        class="rounded w-full nimage"
                                        src={post.frontmatter.image.url}
                                        alt={post.frontmatter.image.alt}
                                    />
                                    <div class="yellow-bg px-4 py-1 rounded-full my-2 text-xs">
                                        {post.frontmatter.Date}
                                    </div>
                                    <p class="text-2xl font-semibold lg:pr-4">
                                        {post.frontmatter.title}
                                    </p>
                                </a>
                            </li>
                        ))
                    }
                </div>
            </div>
        </section>
        <section>
            <div
                class="max-w-screen-xl mx-auto flex flex-col lg:flex lg:flex-row"
            >
                <div class="basis-1/2 px-4">
                    <form>
                        <div class="space-y-12">
                            <div class="border-b border-gray-900/10 pb-12">
                                <h2
                                    class="text-base font-semibold leading-7 text-gray-900"
                                >
                                    Contacto
                                </h2>
                                <p
                                    class="mt-1 text-sm leading-6 text-gray-600 lg:pr-44"
                                >
                                    Estoy aquí para escuchar tus preocupaciones
                                    y trabajar juntos para construir un mejor
                                    futuro para nuestra comunidad.
                                </p>

                                <div class="mt-10 space-y-6">
                                    <div class="sm:col-span-3">
                                        <label
                                            for="first-name"
                                            class="block text-sm font-medium leading-6 text-gray-900"
                                            >Nombre</label
                                        >
                                        <div class="mt-2">
                                            <input
                                                type="text"
                                                name="first-name"
                                                id="first-name"
                                                autocomplete="given-name"
                                                class="w-full rounded-md border-0 py-1.5 text-gray-900 ring-1 focus:ring-2 ring-gray-300 focus:ring-yellow-400 focus:outline-none sm:text-sm"
                                            />
                                        </div>
                                    </div>

                                    <div class="gap-x-6 gap-y-8">
                                        <label
                                            for="email"
                                            class="block text-sm font-medium leading-6 text-gray-900"
                                            >Correo</label
                                        >
                                        <div class="mt-2">
                                            <input
                                                id="email"
                                                name="email"
                                                type="email"
                                                autocomplete="email"
                                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:outline-none focus:ring-yellow-400 sm:text-sm sm:leading-6"
                                            />
                                        </div>
                                    </div>

                                    <div class="mt-10 gap-x-6 gap-y-8">
                                        <div class="sm:col-span-3">
                                            <label
                                                for="first-name"
                                                class="block text-sm font-medium leading-6 text-gray-900"
                                                >Mensaje</label
                                            >
                                            <div class="mt-2">
                                                <textarea
                                                    name="mensaje"
                                                    id="mensaje"
                                                    autocomplete="given-name"
                                                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:outline-none focus:ring-yellow-400 sm:text-sm sm:leading-6"
                                                ></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <button
                                            type="submit"
                                            class="rounded-md w-full lg:w-1/2 bg-yellow-400 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-yellow-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600"
                                            >Enviar</button
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="basis-1/2 my-auto">
                    <img class="" src={vidaDigna.src} alt="" />
                </div>
            </div>
        </section>
        <section>
            <div class="max-w-screen-xl lg:mx-auto">
                <div class="flex items-center mt-4  pl-4">
                    <img class="w-5 h-5 object-contain my-auto" src={desliza.src} alt="">
                    <div class="  pl-2 my-auto">Desliza hacia la derecha</div>
                </div>
                <div class="container mx-auto p-4 flex flex-wrap gap-4">
                    <div class="overflow-x-scroll snap-x snap-mandatory w-full m-0 p-0">
                        <div class="flex space-x-4 w-[2400px] h-56">  
                            <!--img 1 -->
                            <div class="relative snap-center group cursor-pointer flex-rrow w-36  md:w-36 lg:w-64 ">
                                <img class="w-full h-full object-cover rounded-lg" src={imageOne.src} alt="" />
                                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 rounded-lg group-hover:rounded-lg transition duration-300"></div>
                            </div>
                            <!--img 3-->
                            <div class="relative snap-center group  cursor-pointer flex-rrow w-36 md:w-36 lg:w-64  ">
                                <img class="w-full h-full object-cover rounded-lg" src={imageThree.src} alt="" />
                                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 rounded-lg group-hover:rounded-lg transition duration-300"></div>
                            </div>
                        
                            <!--img 2-->
                            <div class="relative snap-center group cursor-pointer flex-row w-36 md:w-36 lg:w-64 ">
                                <img class="w-full h-full object-cover rounded-lg" src={imageTwo.src} alt="" />
                                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 rounded-lg group-hover:rounded-lg transition duration-300"></div>
                            </div>

                            <!--img 4-->
                            <div class="relative snap-center group cursor-pointer flex-row w-36 md:w-36 lg:w-64">
                                <img class="w-full h-full object-cover rounded-lg" src={imageFour.src} alt="" />
                                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 rounded-lg group-hover:rounded-lg transition duration-300"></div>
                              </div>
                              
                             <!--img 5--> 
                              <div class="relative snap-center group cursor-pointer flex-row w-36 md:w-36 lg:w-64">
                                <img class="w-full h-full object-cover rounded-lg" src={imageFive.src} alt="" />
                                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 rounded-lg group-hover:rounded-lg transition duration-300"></div>
                              </div>

                              <!--img 6--> 
                              <div class="relative snap-center group cursor-pointer flex-row w-36 md:w-36 lg:w-64">
                                <img class="w-full h-full object-cover rounded-lg" src={imageSix.src} alt="" />
                                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 rounded-lg group-hover:rounded-lg transition duration-300"></div>
                              </div>

                               <!--img 7--> 
                               <div class="relative snap-center group cursor-pointer flex-row w-36 md:w-36 lg:w-64">
                                <img class="w-full h-full object-cover rounded-lg" src={imageSeven.src} alt="" />
                                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 rounded-lg group-hover:rounded-lg transition duration-300"></div>
                              </div>

                              <!--img 8--> 
                              <div class="relative snap-center group cursor-pointer flex-row w-36 md:w-36 lg:w-64">
                                <img class="w-full h-full object-cover rounded-lg" src={imageEight.src} alt="" />
                                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 rounded-lg group-hover:rounded-lg transition duration-300"></div>
                              </div>

                              <!--img 9--> 
                              <div class="relative snap-center group cursor-pointer flex-row w-36 md:w-36 lg:w-64">
                                <img class="w-full h-full object-cover rounded-lg" src={imageNine.src} alt="" />
                                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 rounded-lg group-hover:rounded-lg transition duration-300"></div>
                              </div>

                              <!--img 10--> 
                              <div class="relative snap-center group cursor-pointer flex-row w-36 md:w-36 lg:w-64">
                                <img class="w-full h-full object-cover rounded-lg" src={imageTen.src} alt="" />
                                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 rounded-lg group-hover:rounded-lg transition duration-300"></div>
                              </div>

                              <!--img 11--> 
                              <div class="relative snap-center group cursor-pointer flex-row w-36 md:w-36 lg:w-64">
                                <img class="w-full h-full object-cover rounded-lg" src={imageEleven.src} alt="" />
                                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 rounded-lg group-hover:rounded-lg transition duration-300"></div>
                              </div>

                              <!--img 12--> 
                              <div class="relative snap-center group cursor-pointer flex-row w-36 md:w-36 lg:w-64">
                                <img class="w-full h-full object-cover rounded-lg" src={imageTwelve.src} alt="" />
                                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 rounded-lg group-hover:rounded-lg transition duration-300"></div>
                              </div>

                              <!--img 13--> 
                              <div class="relative snap-center group cursor-pointer flex-row w-36 md:w-36 lg:w-64">
                                <img class="w-full h-full object-cover rounded-lg" src={imageThirteen.src} alt="" />
                                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 rounded-lg group-hover:rounded-lg transition duration-300"></div>
                              </div>

                              <!--img 14--> 
                              <div class="relative snap-center group cursor-pointer flex-row w-36 md:w-36 lg:w-64">
                                <img class="w-full h-full object-cover rounded-lg" src={imageFourteen.src} alt="" />
                                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 rounded-lg group-hover:rounded-lg transition duration-300"></div>
                              </div>

                              <!--img 15--> 
                              <div class="relative snap-center group cursor-pointer flex-row w-36 md:w-36 lg:w-64">
                                <img class="w-full h-full object-cover rounded-lg" src={imageFifteen.src} alt="" />
                                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 rounded-lg group-hover:rounded-lg transition duration-300"></div>
                              </div>
                        </div>
                    </div>
                        
                <div id="fullscreen" class="fixed inset-0 z-50 hidden overflow-hidden bg-black bg-opacity-90">
                    <div class="absolute inset-0 flex flex-col text-gray-500 justify-center items-center">
                        <img id="fullscreen-image" src="" alt="Fullscreen Image" class="max-h-96 mx-auto" />
                        <p class="text-sm my-4">Da click en cualquier lugar para Cerrar</p>
                    </div>
                </div>
           
             </div>
            
              <script>
                 window.addEventListener("DOMContentLoaded",function(){

                // Manejar clic en la imagen para pantalla completa
                document.querySelectorAll('.group').forEach(item => {
                item.addEventListener('click', function() {
                    const imageUrl = (this.querySelector('img') as HTMLImageElement).src;
                    document.getElementById('fullscreen-image').src = imageUrl;
                    document.getElementById('fullscreen').classList.toggle('hidden');
                });
                });

                // Cerrar pantalla completa al hacer clic fuera de la imagen
                document.getElementById('fullscreen').addEventListener('click', function() {
                this.classList.add('hidden');
                });
                console.log("Las imagenes si se componen")

                });
              </script>
        </section>
    </main>
</Layout>