---
import logoH from '../images/logo-h.svg';
import logohb from '../images/logo-hb.svg';
import facebookW from '../images/social/white/facebook.svg';
import instagramW from '../images/social/white/instagram.svg';
import tiktokW from '../images/social/white/tiktok.svg';
import xW from '../images/social/white/x.svg';

export interface Props {
  blogVariant?: boolean;
  
}

---
<script is:inline>
  window.addEventListener("DOMContentLoaded",function(){
    const burgerIcon = document.getElementById("burgerIcon");
    const close = document.getElementById("closeburger");
    const ul = document.getElementById("wrapperContain");
    const button= document.getElementById("burgerButton");

    function burger (){
        if(!ul.classList.contains("view")){
            ul.classList.add("view");
            burgerIcon.style.display="none";
            close.style.display="block";
        } else {
            ul.classList.remove("view");
            burgerIcon.style.display="block";
            close.style.display="none";
        }
    }
    

    button.addEventListener("click", burger);

    const navwhite = document.getElementById("stick")

    function navWhite (){
        if(window.scrollY >= 200){
            navwhite.classList.add("viewnav");
        } else {
            navwhite.classList.remove("viewnav")
        }
    }
    
   window.addEventListener("scroll", navWhite);

});   
</script>
<style is:inline>

.blogText ul li > a {
    color: white;
}

.bg-yellow{
    background-color:#ffc031 ;
}    

.aunderline {
    position: relative;
    text-decoration: none;
    color: black;
}

.aunderline .underline {
    background-color: #e3342f;
    height: 2px;
    width: 0;
    transition: width 0.45s;
}

.aunderline:hover .underline {
    width: 100%;
}

.aline:hover{
    color: #e3342f;
}


    /* Burger Menú*/
    .icon:hover {
    filter: brightness(0) saturate(100%) invert(77%) sepia(99%) saturate(3220%) hue-rotate(344deg) brightness(99%) contrast(98%);
 }
   #wrapperContain{
     transform: translateX(-100%);
     transition: 300ms ease-in-out, opacity 500ms ease-in-out; 
     opacity: 0;
     position: absolute;
     left: 0;
     width: 100%;
     height: 70vh;
     margin-top: 37px;
     background-color: black;
     color: white;
   }

   .view{
    transform: translateX(0)!important;
    opacity: 1 !important;
   }
   #closeburger{
    display: none;
   }
   .alineburger{
     padding-left: 20px;
   }
   .ulburger{
     margin: 30px 0px 30px 0px ;
   }

   /*nav sticky*/
    #stick{
        opacity: 0;
        transform: translateY(-200%);
        transition: 400ms ease-in-out, opacity 400ms ease-in-out;
        position: sticky;
        height: 0; 
        top: 0;
        z-index: 999;
        overflow: hidden;
    }
    .viewnav{       
        opacity: 1 !important;
        transform: translateY(0) !important;
        overflow: visible;
        height: auto !important; 
    }


</style>
<nav class:list={["hidden md:block z-50 w-full", Astro.props.blogVariant ? "static bg-black blogText" : "absolute"]}>
    <div class="max-w-screen-xl mx-auto flex justify-between items-center py-8 px-6 ">
        <div>
            <a href="/">
                <img class="w-56" src={Astro.props.blogVariant ? logoH.src :logohb.src} alt="Logotipo Omar Ortega"/>
            </a>
        </div>
        <div>
            <ul class="flex space-x-14 font-semibold ">
                <li>
                    <a class="aunderline" href="/trayectoria">
                        Trayectoria
                        <div class="underline"></div>
                    </a>
                </li>
                <li>
                    <a class="aunderline whitespace-nowrap" href="/legislativo">
                        Informe legislativo 
                        <div class="underline"></div>
                    </a>
                </li>
                <li>
                    <a class="aunderline whitespace-nowrap" href="/blog">
                       Noticias
                        <div class="underline"></div>
                    </a>
                </li>
                <li>
                    <a class="aunderline" href="/contact"
                        >Contacto
                        <div class="underline"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="bg-slate-100 hidden md:block" id="stick">
    
    <div class="max-w-screen-xl mx-auto flex justify-between items-center py-8 px-6">
        <div>
            <a href="/">
                <img class="w-56" src={logohb.src} alt="Logotipo Omar Ortega"/>
            </a>
        </div>
        <div>
            <ul class="flex space-x-14 font-semibold">
                <li>
                    <a class="aline" href="/trayectoria">
                        Trayectoria
                    </a>
                </li>
                <li>
                    <a class="aline whitespace-nowrap" href="/legislativo">
                        Informe legislativo 
                    </a>
                </li>
                <li>
                    <a class="aline whitespace-nowrap" href="/blog">
                        Noticias
                    </a>
                </li>
                <li>
                    <a class="aline" href="/contact"
                        >Contacto
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="bg-yellow z-50 md:hidden">
    <div class="max-w-screen-xl mx-auto flex justify-between items-center py-8 px-6 relative" id="principaldiv">
        <div>
            <a href="/">
                <img class="w-56" src={logoH.src} alt="Logotipo Omar Ortega"/>
            </a>
        </div>
        <div class="">
            <div class="">
                <button id="burgerButton" class="w-6 flex flex-col items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" id="burgerIcon" viewBox="0 0 448 512"><path fill="black" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" id="closeburger" class="closeburger" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
                </button>
                <div id="wrapperContain">
                    <div class="contain flex flex-col justify-between h-full pb-10">
                        <ul class="ulburger text-2xl space-y-8 font-semibold">
                        <li>
                            <a class="alineburger " href="/trayectoria">
                                Trayectoria
                            </a>
                        </li>
                        <li>
                            <a class="alineburger whitespace-nowrap" href="/legislativo">
                                Informe legislativo 
                            </a>
                        </li>
                        <li>
                            <a class="alineburger whitespace-nowrap" href="/blog">
                                Noticias
                            </a>
                        </li>
                        <li>
                            <a class="alineburger" href="/contact"
                                >Contacto
                            </a>
                        </li>
                        </ul>
                        <div>
                        <div class="h-px w-11/12 px-4 bg-white mx-auto line"></div>
                        <div class="flex space-x-6 pt-6 ml-6 items-center">
                            <a href="https://www.facebook.com/omarortegaa.mx">
                                <img class="w-2.5 icon" src={facebookW.src} alt="Logotipo de facebook">
                            </a>
                            <a href="https://www.instagram.com/omarortegaa.mx/">
                                <img class="w-4 icon" src={instagramW .src} alt="Logotipo de instagram">
                            </a>
                            <a href="https://www.tiktok.com/@omarortegaa.mx">
                                <img class="w-4 icon" src={tiktokW.src} alt="Logotipo de tiktok">
                            </a>
                            <a href="https://twitter.com/OOA_Oficial">
                                <img class="w-4 icon" src={xW.src} alt="Logotipo de x">
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

